streamlit  # or your current version of Streamlit
pandas     # or the latest compatible version
plotly     # for Plotly visualizations
matplotlib  # for Matplotlib visualizations
geopandas  # for handling GeoDataFrames
folium     # for Folium maps
streamlit-folium  # to integrate Folium with Streamlit
pydeck      # for Pydeck visualizations (Plotly wrapper)
keplergl    # for KeplerGL visualizations
shapely     # for geometric operations
branca      # for Folium HTML/CSS control elements
streamlit_keplergl

# Additional packages that might be required
numpy     # for numerical operations
openpyxl
python-dateutil
seaborn